#login-box, #register-box {
    width: 100%;
    max-width: 400px;
    margin: 0 50%;
    transform: translateX(-50%);
}

#login-form, #register-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color0);
    color: var(--color1);
    padding: 35px 50px;
    border-radius: 20px;
    box-sizing: border-box;
}