#register-box, #login-box {
    width: 100%;
    max-width: 500px;
    margin: 0 50%;
    transform: translateX(-50%);
}

#register-form, #login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color0);
    color: var(--color1);
    padding: 35px 50px;
    border-radius: 20px;
    box-sizing: border-box;
}

.form-error {
    color: #f33;
    font-size: 15px;
    margin-bottom: 20px;
}

#register-form hr {
    width: 100%;
    border-color: var(--color1);
}

.register-fieldset {
    border: none;
    margin: 0;
}

.register-fieldset > h3 {
    margin: 5px 0;
}

.register-fieldset > div {
    display: flex;
    flex-wrap: wrap;
}

#register-form label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#register-form label > input {
    width: 12px;
    height: 12px;
    margin: 0 10px 0 0;
}

#register-captcha, #login-captcha {
    margin-top: 5px;
}

#register-age, #register-country {
    margin-right: 5px;
}

#register-gender, #register-city {
    margin-left: 5px;
}