#register-box, #login-box {
    width: 100%;
    max-width: 400px;
    margin: 0 50%;
    transform: translateX(-50%);
}

#register-form, #login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color0);
    color: var(--color1);
    padding: 35px 50px;
    border-radius: 20px;
    box-sizing: border-box;
}

.form-error {
    color: #f33;
    font-size: 15px;
    margin-bottom: 20px;
}

#register-captcha, #login-captcha {
    margin-top: 5px;
}

#gender-list {
    margin-left: 10px;
}

#checkbox-field {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

#checkbox-field input {
    width: 15px;
    height: auto;
    margin-top: 2px;
}

#checkbox-field label {
    margin-left: 15px;
}

.checkbox-list {
    width: 100%;
    /* border: none; */
    margin: 5px 0 15px;
}

.checkbox-list ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

.checkbox-list ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    list-style: outside none none;
    clear: both;
    margin: 10px 0 0 0;
}

.checkbox-list ul li input {
    width: 15px;
    height: auto;
    margin: 5px;
}

.checkbox-list ul li label {
    margin-left: 15px;
}

.category {
    margin: 0;
}